

                    <div class="container_change_username">

                        <div class="header_container_change_username">
                            <div class="title_change_username">
                                <div class="container_close">
                                    <a href="#" style="text-decoration: none; color: #949494;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                            <path
                                                d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                                        </svg>
                                    </a>
                                </div>
                                Change ton adresse email
                            </div>

                            <div class="container_sup">
                                <form action="emailchange" method="POST" class="form_change_username">
                                    <div class="container_input_email_change">
                                        <div class="change_email_text">
                                            <label for="name">NOUVEAU EMAIL</label>
                                        </div>
                                        <div class="input_email_change">
                                            <input type="text" name="name" id="name" required>
                                        </div>
                                    </div>

                                    <div class="container_input_password_change">
                                        <div class="change_password_text">
                                            <label for="name">MOT DE PASSE</label>
                                        </div>
                                        <div class="input_password_change">
                                            <input type="text" name="password" id="password" required>
                                        </div>
                                    </div>
                            </div>

                            <div class="footer_container_change_username">

                                <a style="text-decoration: none;" href="#">
                                    <p class="annuler"> Annuler </p>
                                </a>

                                <a href="#">
                                    <div class="user_text">
                                        <button class="button_change user_text">Modifier</button>
                                    </div>
                                </a>

                            </div>
                            </form>

                        </div>

                    </div>