<div class="center_folder_info">

    <div class="scroll_center">

        <div class="container_dossier_info">

            <div class="header_container_dossier_info">
                <div class="title_dossier_info">
                    <div class="container_close">
                        <a href="#" style="text-decoration: none; color: #949494;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path
                                    d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                            </svg>
                        </a>
                    </div>
                    VOTRE DOSSIER DOIT CONTENIR CECI
                </div>

                <div class="paragraphe">
                    <p style="margin: 0px 0px 0px 15px;"> · Prenez ce <a href="#"><b
                                style="margin: 0px 4px 0px 4px;">G-DOCS
                            </b></a> comme modèle</p>
                </div>

                <div class="paragraphe">
                    <p style="margin: 0px 0px 0px 15px;"> · Courte présentation IRL <em>(prénom, age,
                            disponibilité)</em></p>
                </div>

                <div class="paragraphe">
                    <p style="margin: 0px 0px 0px 15px;"> · Le Background de votre personnage</p>
                </div>

                <div class="paragraphe">
                    <p style="margin: 0px 0px 0px 15px;"> · Plan A & Plan B <em>(vos ambitions dans LS
                            Criminal)</p></em>
                </div>

                <div class="paragraphe">
                    <p style="margin: 0px 0px 0px 15px;"> · Votre nombre d'heure sur Five M <em>(Inutile
                            de
                            mentir)</p></em>
                </div>

                <div class="paragraphe">
                    <p style="margin: 0px 0px 0px 15px;"> · Les serveur où vous aviez joué <em>(Inutile
                            de
                            mentir)</p></em>
                </div>

                <div class="paragraphe">
                    <p style="margin: 0px 0px 0px 15px;"></p>
                </div>

                <div class="footer_container_change_username">

                    <a class="button_change user_text" style="text-decoration: none; color: white;" href="#"
                        id="button_continuer_dossier">
                        <div class="user_text" id="button_continuer_dossier">
                            Continuer
                        </div>
                    </a>

                </div>
            </div>

        </div>
    </div>
</div>