<header>

    <!-- Header qui se situe en haut -->

    <div class="titre0">

        <div class="c-title_logo_lscriminal">
            <a href="dashboard"> <img class="logo0" src="/image/LS_Criminal_Logo.png" /> </a>
        </div>

        <div class="c-title">
            <a href="dashboard" class="titre0lscriminallink">
                <h1 class="titre0lscriminal">
                    LS Criminal
                </h1>
            </a>
        </div>

        <div class="l-social">
            <div class="container_social">
                <a href="https://www.twitch.tv/Lemka_OG" target="_blank">
                    <img class="icone_social" src="/image/Twitch.png" />
                </a>
            </div>

            <div class="container_social">
                <a href="https://www.youtube.com/channel/UC-xdGsZ6Dk0WyKiF5Fmfndw" target="_blank">
                    <img class="icone_social" src="/image/Youtube.png" />
                </a>
            </div>

            <div class="container_social">
                <a href="https://twitter.com/Lemka_OG" target="_blank">
                    <img class="icone_social" src="/image/Twitter.png" />
                </a>
            </div>

            <div class="container_social">
                <a href="https://www.instagram.com/lemka_og/" target="_blank">
                    <img class="icone_social" src="/image/Instagram.png" />
                </a>
            </div>
        </div>

    </div>
</header>