<div class="center_background_info">

    <div class="scroll_center">

        <div class="container_dossier_info">

            <div class="header_container_dossier_info">
                <div class="title_dossier_info">
                    <div class="container_close">
                        <a href="#" style="text-decoration: none; color: #949494;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path
                                    d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                            </svg>
                        </a>
                    </div>
                    VOICI LE LIEN DE VOTRE G-DOCS
                </div>

                <div class="paragraphe">
                    <p style="margin: 0px 15px 0px 15px; width: 400px; word-wrap: break-word;
                    overflow-wrap: break-word; overflow: hidden;">
                        <a>
                            <b style="margin: 0px 4px 0px 4px; width: 50%; position: static; overflow: hidden;
                            overflow-wrap: break-word;">
                            https://docs.google.com/document/d/12xSFFtkRIa6prSPNVNDG6o0iZmELU0yjgL8SdP-Xbl0/edit?usp=sharing
                            </b>
                        </a>
                    </p>
                </div>


                <div class="paragraphe">
                    <p style="margin: 0px 0px 0px 15px;"></p>
                </div>


                <div class="paragraphe">
                    <p style="margin: 0px 0px 0px 15px;"></p>
                </div>


                <div class="paragraphe">
                    <p style="margin: 0px 0px 0px 15px;"></p>
                </div>

                <div class="footer_container_change_username">

                    <a class="button_change user_text" style="text-decoration: none; color: white;" href="#"
                        id="button_fermer_background">
                        <div class="user_text" id="button_continuer_dossier">
                            Fermer
                        </div>
                    </a>

                </div>
            </div>

        </div>
    </div>
</div>