<div class="center_folder_send">

    <div class="scroll_center">

        <div class="container_form">
            <form class="container_change_username" action="emailchange" method="POST">
                <div class="container_inpute">
                    <div class="header_container_change_username">
                        <div class="title_change_username">
                            <div class="container_close" id="container_close2">
                                <a href="#" style="text-decoration: none; color: #949494;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path
                                            d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                                    </svg>
                                </a>
                            </div>
                            Envoie ton dossier
                        </div>
                    </div>

                    <div class="container_input_email_change">
                        <div class="change_email_text">
                            <label for="prenomrp">PRÉNOM RP</label>
                        </div>
                        <div class="input_email_change">
                            <input type="text" name="prenomrp" id="prenomrp" required>
                        </div>
                    </div>

                    <div class="container_input_email_change">
                        <div class="change_password_text">
                            <label for="nomrp">NOM RP</label>
                        </div>
                        <div class="input_password_change">
                            <input type="text" name="nomrp" id="nomrp" required>
                        </div>
                    </div>

                    <div class="container_input_email_change">
                        <div class="change_password_text">
                            <label for="dateofbirth">DATE DE NAISSANCE RP</label>
                        </div>
                        <div class="input_password_change">
                            <input type="text" name="dossierlead" id="dateofbirth" required>
                        </div>
                    </div>

                    <div class="container_input_email_change">
                        <div class="change_password_text">
                            <label for="backgroundenvisagea">BACKGROUND ENVISAGÉ A</label>
                        </div>
                        <div class="input_password_change">
                            <select id="backgroundenvisagea"
                                style="width: 80%; height: 35px; background-color: #303338; border: 1px solid #2e2c2c; color: white; border-radius: 5px;">

                                <optgroup label="LÉGAL">
                                    <option>Civil</option>
                                    <option>Bcso</option>
                                    <option>Lspd</option>
                                    <option>Ems</option>
                                </optgroup>

                                <optgroup label="ILLÉGALE">
                                    <option>Crée un gang</option>
                                    <option>Gangster Indépendant</option>
                                    <option>Families</option>
                                    <option>Ballas</option>
                                    <option>Vagos</option>
                                </optgroup>

                            </select>
                        </div>
                    </div>

                    <div class="container_input_email_change">
                        <div class="change_password_text">
                            <label for="backgroundenvisageb">BACKGROUND ENVISAGÉ B</label>
                        </div>
                        <div class="input_password_change">
                            <select id="backgroundenvisageb"
                                style="width: 80%; height: 35px; background-color: #303338; border: 1px solid #2e2c2c; color: white; border-radius: 5px;">

                                <optgroup label="LÉGAL">
                                    <option>Civil</option>
                                    <option>Bcso</option>
                                    <option>Lspd</option>
                                    <option>Ems</option>
                                </optgroup>

                                <optgroup label="ILLÉGALE">
                                    <option>Crée un gang</option>
                                    <option>Gangster Indépendant</option>
                                    <option>Families</option>
                                    <option>Ballas</option>
                                    <option>Vagos</option>
                                </optgroup>

                            </select>
                        </div>
                    </div>

                    <div class="container_input_email_change">
                        <div class="change_password_text">
                            <label for="gdocs">G-DOCS DU BACKGROUND DE VOTRE PERSONNAGE RP</label>
                        </div>
                        <div class="input_password_change">
                            <input type="text" name="dossierlead" id="gdocs" required>
                        </div>
                    </div>

                    <div class="container_input_email_change">
                        <div class="change_password_text">
                            <label for="gdocslead">G-DOCS DU BACKGROUND DE VOTRE CRÉATION DE LEAD</label>
                        </div>
                        <div class="input_password_change">
                            <input type="text" name="dossierlead" id="gdocslead" required>
                        </div>
                    </div>
                </div>

                <div class="footer_container_send_folder">

                    <a style="text-decoration: none;" href="#">
                        <p class="annuler"> Annuler </p>
                    </a>

                    <a href="#">
                        <div class="user_text">
                            <button class="button_change user_text">Envoyer</button>
                        </div>
                    </a>

                </div>
            </form>
        </div>
    </div>
</div>