* {
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
  
  /* Déclaration des polices importer */
  
  @font-face
  {
    font-family: "Advent Pro";
    src: url("../police/AdventPro-Bold.ttf");
  }
   
  @font-face
  { 
    font-family: "Metropolis";
    src: url("../police/Metropolis-Light.otf");
  }
  
  input
  {
    width: 0.8vw;
    margin-right: 10px;
    margin-top: 0px;
  }
  
  /* Barre de déroulement customisé */
  
  ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  }
  ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
  }
  ::-webkit-scrollbar-thumb {
  background: #1cceff;
  border: 31px none red;
  border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
  background: #1cceff;
  }
  ::-webkit-scrollbar-thumb:active {
  background: #131313;
  }
  ::-webkit-scrollbar-track {
  background: #918989;
  border: 1px solid #131313;
  border-radius: 5px;
  }
  ::-webkit-scrollbar-track:hover {
  background: #f2f2f2;
  }
  ::-webkit-scrollbar-track:active {
  background: #f5f5f5;
  }
  ::-webkit-scrollbar-corner {
  background: transparent;
  }
  
  
  /* Section Background, fond du site */
  
  .background {
    position: fixed;
    background-color: #131313;
    height: 100%;
    width: 100%;
  }
  
  /*
  ==================================================================
                HEADER NAVIGATION SUPÉRIEUR
  ==================================================================
  */
  
  /* Header qui délimite les divs qui seront à l'intérieur */
  
  .titre0
  {
    width: 100%;
    height: 64px;
    color: #7289da;
    background-color: #0C0C0C;
    border-bottom: 1px solid #99aab5;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 34;
    overflow: hidden;
    top: 0px;
  }
  
  /* Taille de la div titre0lscriminal */
  
  .c-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
  
  }
  
  /* Taille de la div titre0lscriminal */
  
  .c-title_logo_lscriminal {
    width: 20%;
    display: flex;
    justify-content: flex-start;
  
  }
  
  /* Titre LS Criminal dans le Header ainsi que sa fonction Hover et sa fonction qui enlève l'effet lien */
  
  .titre0lscriminal
  {
    font-family: "Advent Pro", "Arial Black";
    font-size: clamp(12px, 2vh, 5px);
    color: #1cceff;
    opacity: 0.6;
  }
  
  .titre0lscriminal:hover
  {
    opacity: 1;
  }
  
  .titre0lscriminallink {
    text-decoration: none;
  }
  
  /* Retrait de la liste ordonné l-social*/
  
  .l-social {
    width: 40%;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2%;
  
  }
  
  .container_social {
    margin-right: 10%;
    height: 100%;
    width: 100%;
  }
  
  /* Image LS Criminal disponible dans le Header ainsi que sa Fonction Hover */
  
  img.logo0
  {
    width : 25px; 
    height: 25px;
    opacity: 0.5;
    margin-left: 100%;
    
  }
  
  .logo0:hover
  {
    opacity: 1;
    margin-left: 100%;
  }
  
  /* Image Twitch disponible dans le Header ainsi que sa Fonction Hover */
  
  .icone_social
  {
    position: static;
    margin-right: 100%;
    opacity: 0.5;
    width : 20px; 
    height: 20px;
  }
  
  .icone_social:hover
  {
    opacity: 1;
  }
  
  /*
  ==================================================================
                NAVIGATION GAUCHE
  ==================================================================
  */
  
  /* Permet d'aligner les deux divs principaux */
  
  .centremilieu
  {
    position: static;
    display: flex;
    flex-direction: row;
    align-content: center;
    text-decoration: none;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin-top: 64px;
  }
  
  .fixenavcote {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: fixed;
    overflow: hidden;
    text-decoration: none;
    background-color: #0C0C0C;
    width: 16.67%;
    height: 100%;
    top: 64px;
    border-right: 1px solid #99aab5;
    z-index: 32;
  }
  
  /* Fond Navigation sur la gauche */
  
  .fondnavcote
  {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: static;
    overflow: hidden;
    text-decoration: none;
    background-color: #0C0C0C;
    width: 20%;
    /* height: 1366px; */
    height: 500px;
    border-right: 1px solid #99aab5;
    z-index: 33;
  }
  
  /* Fond des liste puce Nav qui permet au list puce de prendre que 40% de la fondnavcote*/
  
  /*
  
  .listepucenav
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Advent Pro", "Arial Black";
    overflow: hidden;
    text-decoration: none;
    color: white;
    font-size: 100%;
    background-color: #0C0C0C;
    width: 100%;
    height: 40%;
  } */
  
  /* Permet de d'appliquer des attributs ainsi que la Fonction Hover à toutes les list à puce présent dans la div listpuce */
  
  .listepuce
  {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    position: static;
    text-decoration: none;
    border-bottom: 1px solid #99aab5;
    color: white;
    list-style-type: none;
    width: 100%;
    height: 100%;
    white-space: nowrap;
  }
  
  .listepuce:hover
  {
    opacity: 0.7;
    background-color: #1cceff;
  }
  
  /* Retire le lien des liste à puce */
  
  .listepucelien
  {
    text-decoration: none;
    color: white;
  }
  
  /* Permet d'ajouter une bordure à Gauche de la liste quand on se trouve dans la Page */
  
  .barrenav {
    border-left: 7px solid #1cceff;
  }
  
  /* Permet d'ajouter des attributs au logo de la liste à puce gauche */
  
  .logolisteapuce
  {
    width: 20px;
    height: 20px;
    /* margin-right: 20px; */
  }
  
  /* Permet de bien aligner respectivement les div nav et alignicon entre elle */
  
  .nav {
    display: flex;
    position: static;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    font-family: "Advent Pro", "Arial Black";
    font-size: 1.2vw;
  }
  
  .alignicon {
    display: flex;
    position: static;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 20%;
  }  

/*
==================================================================
                PAGE D'ACCUEIL
==================================================================
*/

/* Div qui permet de mettre toutes les autres div à l'intérrieur*/

.centrage {
    position: static;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 725px;
}

/* Div qui permet de centrer les divs qui explique comment se repérer sur le site */

.question2
{
    position: static;
    color: white;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 225px;
    font-size: 1vw;
    font-size: 1vh;
    font-family: 'Metropolis';
    margin-top: 2%;
}

.aligninfo {
    position: static;
    display: flex;
    font-size: 150%;
    width: 80%;
    height: 70%;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1d1d1d;
    box-shadow: 0px 0px 3px 0px #383636;
}

.columninfo {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #1cceff;
}

.pseudo, .discord, .mail {
    color: white;
}

.container_titre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    font-size: 1.5vw;
    font-family: 'Metropolis';
}

.container_infos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    font-size: 1vw;
    font-family: 'Metropolis';
}

.container_discord {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 0.7vw;
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 10px 10px ;
    background-color: #131313;
    box-shadow: 0px 0px 3px 0px #383636;
    text-decoration: none;
    color: white;
}

.container_discord:hover {
    background-color: #545b74;
    width: 100%;
    height: 55%;
}

.discord {
    display: none;
}

/* Div qui modifie le titre qui explique comment se repérer sur le site */

.ecriturequestion2
{
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 1vw;
    font-family: 'Metropolis';
    background-color: #383636;
    width: 80%;
    height: 30%;
    color: #1cceff;
    text-align: center;
    box-shadow: 0px 0px 3px 0px #383636;
}

.row {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
    width: 100%;
    height: 229px;
}

/* Div ou se trouve un suivie des étapes */

.etapes
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: static;
    font-family: "Metropolis", "Arial Black";
    overflow: hidden;
    color: white;
    font-size: 25px;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin-right: 3%;
    margin-left: 3%;
    background-color: #1d1d1d;
    box-shadow: 0px 0px 3px 0px #383636;
}

/* Div ou se trouve le titre de la div */

.titreetapes
{
    display: flex;
    position: static;
    align-items: center;
    font-family: "Metropolis", "Arial Black";
    justify-content: center;
    background-color: #383636;
    font-size: 1vw;
    width: 100%;
    height: 100%;
}

/* Div qui centre tout les suivies des étapes et qui les hover */

.suividesetapes
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Metropolis", "Arial Black";
    overflow: hidden;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
}

.suividesetapes:hover
{
    opacity: 0.7;
    background-color: #1cceff;
}

/* Div qui retire l'effet lien des liens */

.suividesetapeslien
{
    border-top: 0.5px solid rgb(71, 67, 67);
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
}

/* Div qui agis sur l'image qui indique le statut des étapes */

.logostatut
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1.1vw;
    height: 1.1vw;
}

.alignetape {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 15%;
    font-size: 0.8vw;
}

.alignetape2 {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    margin-right: 10%;
    font-size: 0.9vw;
}

/* Div qui permet de centrer les divs qui explique comment se repérer sur le site */

.question1
{
    position: static;
    color: white;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.8vw;
    font-family: 'Metropolis';
    background-color: #2E2E2E;
    box-shadow: 0px 1px 0px 0px #1cceff;
    margin-right: 3%;
}

/* Div qui modifie le titre qui explique comment se repérer sur le site */

.ecriturequestion1
{
    overflow: hidden;
    font-size: 90%;
    font-family: 'Metropolis';
    color: #1cceff;
}

/* Div qui permet de décaler les etapes qui explique comment se repérer sur le site */

.margeetape {
    color: white;
}

/* Div qui modifie l'alerte' qui explique comment se repérer sur le site */

.couleuralerte {
    color: rgb(255, 62, 62);
}

/* Responsive, lorsque la largeur est inférieur à un nombre de px alors les éléments changent de position */

@media screen and (max-width: 880px) {

    .centremilieu {
        flex-direction: column;
        overflow: auto;
    }

    .titre0lscriminal
    {
        font-size: clamp(12px, 2vh, 5px);
    }

    .fixenavcote
    {
        display: none;
    }

    .fondnavcote
    {
        position: fixed;
        flex-direction: row;
        align-content: center;
        width: 100%;
        height: 75px;
        border-bottom: 1px solid #99aab5;
    }

    img.logolisteapuce {
        width: 15px;
        height: 15px;
    }

    .nav {
      display: flex;
      position: static;
      align-items: center;
      justify-content: center;
      width: 60%;
      height: 100%;
      font-family: "Advent Pro", "Arial Black";
      font-size: 1.7vw;
    }

    .listepuce
    {
        border-left: 1px solid #99aab5;
        width: 20vw;
        height: 100%;
    }

    .barrenav 
    {
        border-left: 0px solid #1cceff;
        border-bottom: 7px solid #1cceff;
    }

    .logolisteapuce {
        width: 1vw;
        height: 10px;
    }

    .centrage {
        position: static;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        height: 1200px;
        margin-top: 75px;
    }

    .row {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2%;
        margin-left: 0%;
        width: 70vw;
        height: 700px;
    }

    .etapes
    {
        position: static;
        display: flex;
        width: 100%;
        height: 40%;
        font-size: 4vw;
        margin: 0% 0% 0% 0%
    }

    .titreetapes {
        font-size: 2vw;
    }

    .alignetape {
        font-size: 1.8vw;
    }

    .logostatut
    {
        width: 2.6vw;
        height: 2.6vw;
    }

    .question1 {
        position: static;
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 40%;
        font-size: 1.5vw;
        margin: 10% 0% 0% 0%
    }

    .question2
    {
        display: none;
    }
}

/* Responsive, lorsque la largeur est inférieur à un nombre de px alors les éléments changent de position */

@media screen and (max-height: 310px) {

    .centremilieu {
        flex-direction: column;
        overflow: auto;
        height: 100%;
    }

    .titre0lscriminal
    {
        font-size: clamp(12px, 2vh, 5px);
    }

    .fixenavcote
    {
        display: none;
    }

    .fondnavcote
    {
        position: fixed;
        flex-direction: row;
        align-content: center;
        width: 100%;
        height: 75px;
        border-bottom: 1px solid #99aab5;
    }

    img.logolisteapuce {
        width: 15px;
        height: 15px;
    }

    .nav {
      display: flex;
      position: static;
      align-items: center;
      justify-content: center;
      width: 60%;
      height: 100%;
      font-family: "Advent Pro", "Arial Black";
      font-size: 1.7vw;
    }

    .listepuce
    {
        border-left: 1px solid #99aab5;
        width: 20vw;
        height: 100%;
    }

    .barrenav 
    {
        border-left: 0px solid #1cceff;
        border-bottom: 7px solid #1cceff;
    }

    .logolisteapuce {
        width: 1vw;
        height: 10px;
    }

    .centrage {
        position: static;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        height: 1200px;
        margin-top: 75px;
    }

    .row {
      position: static;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin: 1% 0% 2% 0%;
        width: 100%;
        height: 200px;
    }

    .etapes
    {
        position: static;
        display: flex;
        width: 70%;
        height: 70%;
        font-size: 4vw;
        margin: 0% 0% 0% 3%
    }

    .titreetapes {
        font-size: 0.9vw;
    }

    .alignetape {
        font-size: 0.7vw;
    }

    .logostatut
    {
        width: 1vw;
        height: 1vw;
    }

    .question1 {
        position: static;
        display: flex;
        width: 70%;
        height: 70%;
        font-size: 0.8vw;
        margin: 0% 3% 0% 3%
    }

    .question2
    {
        display: none;
    }
}

/*
==================================================================
              
==================================================================
*/