* {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* Déclaration des polices importer */

@font-face
{
  font-family: "Advent Pro";
  src: url("../police/AdventPro-Bold.ttf");
}
 
@font-face
{ 
  font-family: "Metropolis";
  src: url("../police/Metropolis-Light.otf");
}

input
{
  width: 0.8vw;
  margin-right: 10px;
  margin-top: 0px;
}

/* Barre de déroulement customisé */

::-webkit-scrollbar {
width: 5px;
height: 5px;
}
::-webkit-scrollbar-button {
width: 0px;
height: 0px;
}
::-webkit-scrollbar-thumb {
background: #1cceff;
border: 31px none red;
border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
background: #1cceff;
}
::-webkit-scrollbar-thumb:active {
background: #131313;
}
::-webkit-scrollbar-track {
background: #918989;
border: 1px solid #131313;
border-radius: 5px;
}
::-webkit-scrollbar-track:hover {
background: #f2f2f2;
}
::-webkit-scrollbar-track:active {
background: #f5f5f5;
}
::-webkit-scrollbar-corner {
background: transparent;
}


/* Section Background, fond du site */

.background {
  position: fixed;
  background-color: #131313;
  height: 100%;
  width: 100%;
}

/*
==================================================================
              HEADER NAVIGATION SUPÉRIEUR
==================================================================
*/

/* Header qui délimite les divs qui seront à l'intérieur */

.titre0
{
  width: 100%;
  height: 64px;
  color: #7289da;
  background-color: #0C0C0C;
  border-bottom: 1px solid #99aab5;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 34;
  overflow: hidden;
  top: 0px;
}

/* Taille de la div titre0lscriminal */

.c-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 5%;
  margin-left: 5%;

}

/* Taille de la div titre0lscriminal */

.c-title_logo_lscriminal {
  width: 20%;
  display: flex;
  justify-content: flex-start;

}

/* Titre LS Criminal dans le Header ainsi que sa fonction Hover et sa fonction qui enlève l'effet lien */

.titre0lscriminal
{
  font-family: "Advent Pro", "Arial Black";
  font-size: clamp(12px, 2vh, 5px);
  color: #1cceff;
  opacity: 0.6;
}

.titre0lscriminal:hover
{
  opacity: 1;
}

.titre0lscriminallink {
  text-decoration: none;
}

/* Retrait de la liste ordonné l-social*/

.l-social {
  width: 40%;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 2%;

}

.container_social {
  margin-right: 10%;
  height: 100%;
  width: 100%;
}

/* Image LS Criminal disponible dans le Header ainsi que sa Fonction Hover */

img.logo0
{
  width : 25px; 
  height: 25px;
  opacity: 0.5;
  margin-left: 100%;
  
}

.logo0:hover
{
  opacity: 1;
  margin-left: 100%;
}

/* Image Twitch disponible dans le Header ainsi que sa Fonction Hover */

.icone_social
{
  position: static;
  margin-right: 100%;
  opacity: 0.5;
  width : 20px; 
  height: 20px;
}

.icone_social:hover
{
  opacity: 1;
}

/*
==================================================================
                BLOCK MOT DE PASSE OUBLIÉ
==================================================================
*/

/* Permet de cacher les contours des input */

input {
	outline: none;
	border: none;
}

/* Boutton qui permet d'être contouré */

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/* Div qui permet d'aligner le block mon profil au centre */

.centrage {
  width: 100%;
  height: 100%;
  position: static;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  margin-top: 65px;
}

  /* Div qui permet d'aligner le contenu du block mon profil */  

.form-align {
  position: static;
  width: 100%;
  height: 967px;

  background: #9152f8;
  background: -webkit-linear-gradient(top, #1d2022, #007697, #005167, #1d2022);
  background: -o-linear-gradient(top, #1d2022, #007697, #005167, #1d2022);
  background: -moz-linear-gradient(top, #1d2022, #007697, #005167, #1d2022);
  background: linear-gradient(top, #1d2022, #007697, #005167, #1d2022);
}

/* Div qui permet de mettre des attribut au logo LS Criminal */

img.logo_ls {
  position: static;
  color: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  position: static;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  margin-top: 3%;
}

.login100-form-title {
  font-family: "Advent Pro";
  font-size: 200%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-bottom: 25px;
}

.sanslien {
  text-decoration: none;
}

.text-center {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: static;
}

/* Lien modifier mot de passe du block moon profil */

.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #e5e5e5;
  line-height: 1.5;
  text-decoration: none;
}

.txt1:hover {
  color: #1cceff;
}

/* Ligne sous l'input */

.wrap-input100 {
  width: 80%;
  margin: auto;
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,0.24);
  margin-bottom: 5%;
}

/* Style css de l'input */

.input100 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
}

/* Taille de la limite ou le curseur input s'affiche */
  
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* Effet de ligne qui charge quand on clique sur l'input */

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #fff;
}

/* Effet du checkbox et de ce que contient l'input en se levant */

.focus-input100::after {
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: #fff;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 9px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus {
  padding-left: 5px;
}

.input100:focus + .focus-input100::after {
  top: -10px;
  font-size: 18px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.has-val.input100 {
  padding-left: 5px;
}

/* Style de la CheckBox */

.contact100-form-checkbox {
  margin-left: 10%;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #fff;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #555555;
}

/* Boutton envoyer */

.container-login100-form-btn {
  width: 100%;
  height: 10%;
  margin-bottom: 1%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #555555;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;

  background: #9152f8;
  background: -webkit-linear-gradient(bottom, #007697, #005167, white);
  background: -o-linear-gradient(bottom, #007697, #005167, white);
  background: -moz-linear-gradient(bottom, #007697, #005167, white);
  background: linear-gradient(bottom, #007697, #005167, white);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  
  margin-bottom: 15px;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  color: #fff;
}

.login100-form-btn:hover:before {
  opacity: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
  }
}

/* Alerte lorqu'une valeur est mal saisie */

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/* Responsive, lorsque la largeur est inférieur à un nombre de px alors les éléments changent de position */

@media screen and (max-height: 310px) {

  .centremilieu {
      flex-direction: column;
      overflow: hidden;
      height: 330px;
  }

  .titre0lscriminal
  {
      font-size: clamp(12px, 2vh, 5px);
  }

  .fixenavcote
  {
      display: none;
  }

  .fondnavcote
  {
      position: fixed;
      flex-direction: row;
      align-content: center;
      width: 100%;
      height: 75px;
      border-bottom: 1px solid #99aab5;
  }

  img.logolisteapuce {
      width: 15px;
      height: 15px;
  }

  .nav {
    display: flex;
    position: static;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    font-family: "Advent Pro", "Arial Black";
    font-size: 1.7vw;
  }

  .listepuce
  {
      border-left: 1px solid #99aab5;
      width: 20vw;
      height: 100%;
  }

  .barrenav 
  {
      border-left: 0px solid #1cceff;
      border-bottom: 7px solid #1cceff;
  }

  .logolisteapuce {
      width: 1vw;
      height: 10px;
  }

  .centrage {
      align-items: flex-start;
      justify-content: center;
      overflow: auto;
      margin-top: 65px;
  }

  .form-align{
    height: 1024px;
  }

}

/* Responsive, lorsque la largeur est inférieur à un nombre de px alors les éléments changent de position */

@media screen and (max-width: 880px) {

  .centremilieu {
      flex-direction: column;
      overflow: hidden;
  }

  .titre0lscriminal
  {
      font-size: clamp(12px, 2vh, 5px);
  }

  .fixenavcote
  {
      display: none;
  }

  .fondnavcote
  {
      position: fixed;
      flex-direction: row;
      align-content: center;
      width: 100%;
      height: 75px;
      border-bottom: 1px solid #99aab5;
  }

  img.logolisteapuce {
      width: 15px;
      height: 15px;
  }

  .nav {
    display: flex;
    position: static;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    font-family: "Advent Pro", "Arial Black";
    font-size: 1.7vw;
  }

  .listepuce
  {
      border-left: 1px solid #99aab5;
      width: 20vw;
      height: 100%;
  }

  .barrenav 
  {
      border-left: 0px solid #1cceff;
      border-bottom: 7px solid #1cceff;
  }

  .logolisteapuce {
      width: 1vw;
      height: 10px;
  }


  .centrage {
      align-items: flex-start;
      justify-content: center;
      overflow: auto;
      margin-top: 65px;
  }

  .form-align{
    height: 1024px;
  }

}