<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="/css/header.css">
	<link type="text/css" rel="stylesheet" href="/css/inscription.css">
	<link type="text/css" rel="stylesheet" href="/css/error.css">
	<link rel="icon" type="image/png" href="/image/icons/LS_Criminal_Logo.ico" />
	<title>LS Criminal - Inscription</title>
</head>

<body class="background">

	<!-- Message d'erreur / success -->

	<%- include('../partials/error'); %>

		<!-- Header -->

		<%- include('../partials/header'); %>

			<div class="centrage">
				<form class="form-align" action="/inscription" method="POST">
					<div class="container-login100">
						<div class="wrap-login100">
							<div class="login100-form-logo">
								<img class="logo_ls" src="/image/LS_Criminal_Logo.png" />
							</div>

							<span class="login100-form-title p-b-34 p-t-27">
								INSCRIPTION
							</span>

							<div class="wrap-input100 validate-input" data-validate="Entrer un email">
								<input class="input100" type="email" name="email" placeholder="Adresse Mail">
								<span class="focus-input100" data-placeholder="&#xf207;"></span>
							</div>

							<div class="wrap-input100 validate-input" data-validate="Entrer un pseudo">
								<input class="input100" type="text" name="pseudo" placeholder="Pseudo">
								<span class="focus-input100" data-placeholder="&#xf207;"></span>
							</div>

							<div class="wrap-input100 validate-input" data-validate="Entrer un mot de passe">
								<input class="input100" type="password" name="password" placeholder="Mot de passe">
								<span class="focus-input100" data-placeholder="&#xf191;"></span>
							</div>

							<div class="wrap-input100 validate-input" data-validate="Entrer un mot de passe">
								<input class="input100" type="password" name="password2"
									placeholder="Répétez le Mot de passe">
								<span class="focus-input100" data-placeholder="&#xf191;"></span>
							</div>

							<div class="contact100-form-checkbox">
								<input class="input-checkbox100" id="ckb1" type="checkbox" name="Memoriser">
								<label class="label-checkbox100" for="ckb1">
									Mémoriser
								</label>
							</div>

							<div class="container-login100-form-btn">
								<button class="login100-form-btn">
									Créer
								</button>
							</div>

							<div class="text-center">
								<div class="txt1">
									<a class="txt1" href="connexion">
										J'ai déjà un compte fdp !
									</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
</body>

</html>