<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/header.css">
    <link type="text/css" rel="stylesheet" href="/css/motdepasseoublie.css">
    <link type="text/css" rel="stylesheet" href="/css/error.css">
    <link rel="icon" type="image/png" href="/image/icons/LS_Criminal_Logo.ico" />
    <title>LS Criminal - Connexion</title>
</head>

<body class="background">

    <!-- Message d'erreur / success -->

    <%- include('../partials/error'); %>

    <!-- Header -->

    <%- include('../partials/header'); %>

    <div class="centrage">
        <div class="form-align">
            <div class="container-login100">
                <form action="/motdepasseoublie" method="POST" class="wrap-login100">
                    <div class="login100-form-logo">
                        <img class="logo_ls" src="/image/LS_Criminal_Logo.png" />
                    </div>

                    <span class="login100-form-title p-b-34 p-t-27">
                        MOT DE PASSE OUBLIÉ
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100" type="email" name="email" placeholder="Adresse Mail">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <a class="sanslien" href="motdepasseoublie2">
                            <button class="login100-form-btn">
                                Envoyer
                            </button>
                        </a>
                    </div>

                    <div class="text-center">
                        <div class="txt1">
                            <a class="txt1" href="connexion">
                                Mot de passe retrouvé ?
                            </a>
                        </div>

                        <div class="txt1">
                            <a class="txt1" href="inscription">
                                S'inscrire ?
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>